<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Zoom Clone</title>
    <script src="script.js" charset="utf-8"></script>
  </head>
  <body>
    <h1><%=roomId %></h1>
  </body>
</html>
